@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

:root {
	--bs-body-bg: var(--bs-gray-100);
}

.main-container {
	--ckeditor5-preview-height: 700px;
	font-family: 'Lato';
	width: 100%;
	margin-left: 16px;
	margin-right: 16px;
}

.table-container {
	padding: 1em;
	border: 1px solid var(--bs-gray-300);
	border-radius: 10px;
	width: 80%;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}
