<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">{{ .PageTitle }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">OOOOO</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ if eq .PageKey "index" }}active{{ end }}" aria-current="page" href="index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ if eq .PageKey "network" }}active{{ end }}" aria-current="page" href="network">Network</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit" disabled>Search</button>
        </div>
      </div>
    </div>
  </nav>